/* simple reset */

html,
body {
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-flow: row;
    width: 100vw;
    height: 100vh;
}

/* left */
.left {
    width: 40vw;
    background-image: url("../images/guillaume-le-louarn-uC21aXJ7yQs-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*box-sizing: border-box;
    border: 1px solid red;*/
}

.banner {
    width: inherit;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15vh;
    padding: 30px 0;

    /*box-sizing: border-box;
    border: 1px solid red;*/
}

.imgsrc {
    width: inherit;
    position: fixed;
    bottom: 0;
    text-align: center;

    /*box-sizing: border-box;
    border: 1px solid red;*/
}

/* right */
.right {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    /*box-sizing: border-box;
    border: 1px solid red;*/
}

.text {
    /*box-sizing: border-box;
    border: 1px solid red;*/
}

.form-group {
    background-color: #f4f4f4;
    color: #000;
    display:flex;
    flex-flow: row wrap;

    /*box-sizing: border-box;
    border: 1px solid red;*/
}

.form-field {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    padding-top: 1vh;
    padding-bottom: 1vh;

    /*box-sizing: border-box;
    border: 1px solid red;*/
}

.form-button {
    /*box-sizing: border-box;
    border: 1px solid red;*/
}

.login {
    /*box-sizing: border-box;
    border: 1px solid red;*/
}

.p-left3{
    padding-left: 3vw;
}
